// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'navbar';
*{
    margin: 0;
    padding:0;
    
}
.chip-labels{
    height:90px;
    background-color: aqua;
}
.articles-container{
 align-items:center;
 background-color: #e3f2fd;
}
