// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'navbar';
*{
    margin: 0;
    padding:0;
    
}
.chips{
    margin-bottom: 30px;
    border-radius: 50%;
    padding: 10px;
    background-color: #38c172;
}
.articles-container{
 align-items:center;
 background-color: #e3f2fd;
 margin-top: 30px;
}
.articles-container h3{
    margin-top: 30px;
}
nav img{
    width:200px;
}
nav form{
    display: flex;
   
    margin-right: 15px;
}
a{
    color:red;
}
